{
  "semi": false,
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "proseWrap": "preserve",
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "experimentalTernaries": true,
  "trailingComma": "all",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.svg",
      "options": {
        "parser": "html",
        "singleAttributePerLine": true,
        "singleQuote": true,
        "printWidth": 100
      }
    },
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
